body {
  margin: 0px;
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo{
    height: 30px;
}
#left_logo{
    padding-left: 10px;
    align-self: center;
}
.nav_bar{
    display: flex;
    background-color: black;
    color: rgb(112, 112, 112);
    justify-content: space-between;
}
.navTitles{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
}
.lis{
    padding: 10px;
}
.lis:hover{
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.outer {
  overflow: scroll;
  margin-top: 60px;
}
.container {
  height: 150px;
  width: 100%;
  display: flex;
  background-color: purple;
}

.box {
  height: 75px;
  width: 100px;
  background-color: dodgerblue;
  border: 1px solid lightgrey;
  display: inline-block;
}

h1 {
    text-align: center;
    display: block;
    font-size: 18px;
  }

#flexstart {
  justify-content: flex-start;
  /* flex-direction: column; */
  /* flex-direction: row; predeterminado */
}

#flexend {
  justify-content: flex-end;
}

#center {
    justify-content: center;
}

#spacearound {
    justify-content: space-around;
}

#spacebetween {
    justify-content: space-between;
}
